@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text&family=Hind+Madurai:wght@500&family=Indie+Flower&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@500&family=Mukta:wght@300&family=Noto+Serif&family=Orbitron&family=Prompt:ital@1&family=Qwigley&family=Suez+One&display=swap');


*{
margin: 0px;
padding: 0px;
font-family: Noto Serif;
}
